* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --duration: 10s;
    --items: 2;
}

body {
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: rgba(253, 252, 252, 0.441);
    align-items: center;
    animation: reduceHeader 3s forwards;
}
@keyframes reduceHeader {
    
    to {
        height: 40px;
    }

}

.about {
    position:absolute;
    padding: 20px;
    right: 100%;
    opacity: 0%;
    animation: animateAbout 3s 2s forwards ease-out;
}
@keyframes animateAbout {
    to {
        right: 0%;
        opacity: 100%;
    }
}

.mainLogo {
    position:absolute;
    padding: 20px;
    left: 50%;
    font-size: 4rem;
    width: 100vw;
    animation: animateLogo 3s forwards;
}

@keyframes animateLogo {
    to{
        position:absolute;
        left: 0%;
        text-align: center;
        font-size: 2rem;
        width: auto; 
    }
}

a {
    text-decoration: none;
    color: white;
}

main, section {
    padding: 0 20px;
    min-height: 100ch;
    min-height: 93vh;

}

main, section    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container-box{
    width: 500px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box {
    height: 500px;
    flex: 1;
    background-color: rgb(27, 72, 162);
}

.content {
    width: 400px;
}

#progress {
    /* position: absolute; */
    inset: 0;
    height: 10px;
    width: 100vw;
    background-color: red;
    position:fixed;
    z-index: 2;
}

.title-container {
    position: relative;
}

h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
}

.textWrapper, h1 {
    height: 100vh;
    line-height: 100vh;
    width: 100%;
}

.shadowText {
    position: absolute;
    height: 100%;
    width: max-content;
    left: 100%;
    overflow: none;
    color: rgba(125, 125, 134, 0.76);
    font-size: 5rem;
    animation: infiniteScroll linear var(--duration) infinite;
}

.text1 {
    animation-delay: calc(var(--duration) / var(--items) * (var(--items) - 1) * -1);
}
.text2 {
    animation-delay: calc(var(--duration) / var(--items) * (var(--items) - 2) * -1);
}

@keyframes infiniteScroll {
     to {
        left: -100%;
     }
}

/* adding animations */
@keyframes grow-progress {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
} 

#progress {
    animation: grow-progress linear forwards;
    transform-origin: left;
    animation-timeline: scroll();
}

/* #progress {
    animation: grow-progress 2s linear forwards;
    transform-origin: left;
} */

@keyframes reveal {
    0% {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }
    100% {
        opacity: 1;
        clip-path: inset(0);
    }
}

.container-box {
    animation: reveal linear forwards;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
}

/* list */

ul {
    max-height: 80vh;
    min-width: 40vw;
    overflow-y: scroll;
    text-align: center;
}

li {
    min-height: 70px;
    list-style: none;
    border: 0.1px solid grey;
    counter-increment: index;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    text-align: center;
}

li {
    animation: linear appear forwards, linear dissapear forwards, linear scale forwards;
    animation-timeline: view();
    animation-range: entry, exit;
}

@keyframes dissapear {
    0% {
        opacity: 1;
        transform: translateY(0);
    } 
    100% {
        opacity: 0;
        transform: translateY(-100%);

    }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
