* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

header {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: rgba(253, 252, 252, 0.441);
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
}

main, section {
    padding: 0 20px;
    min-height: 100ch;
    min-height: 93vh;

}

main, section    {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-box{
    width: 500px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box {
    height: 500px;
    flex: 1;
    background-color: rgb(27, 72, 162);
}

.content {
    width: 400px;
}

#progress {
    /* position: absolute; */
    inset: 0;
    height: 10px;
    width: 100vw;
    background-color: red;
    position:fixed;
    z-index: 2;
}

/* adding animations */
@keyframes grow-progress {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
} 

#progress {
    animation: grow-progress linear forwards;
    transform-origin: left;
    animation-timeline: scroll();
}

/* #progress {
    animation: grow-progress 2s linear forwards;
    transform-origin: left;
} */

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }
    50% {
        opacity: 1;
        clip-path: inset(0);
    }
}

.container-box {
    animation: reveal linear forwards;
    animation-timeline: view();
}


